[Desktop Entry]
Categories=Development
Comment=Eclipse IDE for Scientific Computing
Icon=/opt/eclipse_2021-12/eclipse/plugins/org.eclipse.platform_4.22.0.v20211124-1800/eclipse48.png
Exec=/opt/eclipse_2021-12/eclipse/eclipse
Name=Eclipse IDE
Type=Application
